.title{
    margin: 20px auto;
    width: 65%;
    border: 2px solid rgba(118, 215, 196, 0.5);
    box-shadow: 0 0 45px rgba(209, 242, 235, 1);
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}